[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-socketio = "*"
eventlet = "*"
retry = "*"
psutil = "*"
requests = "*"
gunicorn = "*"
gevent = "*"

[requires]
python_version = "3.9"
